<div class="container-fluid">
  <nav class=" mt-1 navbar navbar-expand-lg bg-info navbar-dark danger-color rounded">
    <!-- Brand -->
    <img class="rounded-circle" src="/assets/job-logo.png" alt="somthing" id="logobrand"><a class="navbar-brand "
      id="logo"><B>JOBS</B></a>
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->
      <!-- <li class="nav-item">
        <a routerLink="/dashboard" class="nav-link p-3" > <i class="fa fa-lock"></i> Dashboard</a>
      </li> -->
      <li class="nav-item">
        <a routerLink="/login/emp_login" class="nav-link p-3" > <i class="fa fa-lock"></i> LOGIN</a>
      </li>
      <li class="nav-item">
        <a routerLink="/register/emp_register" class="nav-link p-3 " ><i class="fa fa-address-book" aria-hidden="true"></i>REGISTER</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle p-3"  id="navbardrop" data-toggle="dropdown">
          <i class="fa fa-user"></i>{{username}}
        </a>
        <div class="dropdown-menu dropdown-menu-right bg-light">
          <a class="dropdown-item p-2" >ACCOUNT</a>
          <a class="dropdown-item p-2" (click)="logout()">LOGOUT</a>
        </div>
      </li> -->
    </ul>
  </nav>
</div>
